.item{
    width: 80vw;
    min-height: 20vh;
    background-color: white;
    margin-top: 20px;
    box-shadow: rgba(191, 191, 192, 0.753) 0px 22px 70px 4px;
    border-radius: 3px;
    display: flex;
}
