.item{
    width: 66vw;
    height: 180px;
    background-color: white;
    margin-top: 20px;
    box-shadow: rgba(208, 208, 209, 0.753) 0px 22px 70px 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: start;
    border-radius: 8px;
    border: none;
    font-family: "Century Gothic";
  

}
.display{
    display: flex;
    justify-content: space-around;
    
}
.infs{
    width: calc(66vw - 160px);
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 15px;
}
.post{
color: #45B53B;
font-weight: 600;
}
.pays{
    color: #00A1B6;
    font-weight: 600;
}
.desc{
    color: rgb(148, 147, 147);
}
.nom{
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: underline;
}
.logo{
    border-radius: 8px;
}
