.item{
    width: 66vw;
    height: 200px;
    background-color: white;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: start;
   
    border: none;
    font-family: "Century Gothic";
  

}
.item:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
.display{
    display: flex;
    justify-content: space-around;
    
}
.infs{
    width: calc(66vw - 160px);
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 15px;
}
.post{
color: black;
font-weight: 600;
}
.pays{
    color: rgb(88, 189, 79);

    font-weight: 600;
}
.desc{
    color: rgb(148, 147, 147);
}
.nom{
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: underline;
}
.logo{
    border-radius: 8px;
}
